<body>
  <form #formRegisterCustomer="ngForm" (ngSubmit)="addCustomer(formRegisterCustomer)">
    <div class="row">
      <div class="col-md-7 borders">
        <div style="background-color: white;">
          <h2 style="color: #212B36">Gestión de cobros</h2>
          <!--<a data-toggle="modal" data-target="#registrarCliente">Hola</a>-->
        </div>
        <div class="row text-center" style="border-top: 1px ridge; background-color: #F5F6F8">
          <div class="col-md-3 card-colums text-center" style="margin-top: 25px; margin-right: 45px;"
              data-toggle="modal"
             data-target="#registrarCliente" data-backdrop="static" data-keyboard="false">
             <!--data-toggle="modal"
             data-target="#Camera" data-backdrop="static" data-keyboard="false"-->
            <article class="card h-100">
              <div>
                <!--card-body-->
                <div style="border-radius: 25px;">
                  <img src="https://sistema.waterworld.com.mx/media/tarjeta.jpeg" alt="">
                </div>
              </div>
              <!--card-footer-->
              <div style="border-top: ridge 1px;">
                <label style="color: #637381">Tarjeta Prepago</label>
                <br>
                <label style="color: #637381; font-weight: lighter;">$117.00</label>
  
              </div>
            </article>
          </div>
          <div (click)="enableUpdate()" class="col-md-3 card-colums text-center" style="margin-top: 25px; margin-right: 45px;"
              data-toggle="modal"
             data-target="#RecargarCard" data-backdrop="static" data-keyboard="false">
            <article class="card h-100">
              <div>
                <!--card-body-->
                <div style="border-radius: 25px;">
                  <img src="https://sistema.waterworld.com.mx/media/recarga.jpeg" alt="">
                </div>
              </div>
              <!--card-footer-->
              <div style="border-top: ridge 1px;">
                <label style="color: #637381">Recargar tarjeta</label>
                <br>
              </div>
            </article>
          </div>
        </div>
        <div class="row text-center" style="border-top: 1px ridge; background-color: #F5F6F8">
          <div class="col-md-3 card-colums text-center" style="margin-top: 25px; margin-right: 45px;"
            *ngFor="let product of products" (click)="addItem(product)" >
            <!--20/01/2020 quité slice:2, aparentemente funciona -->
            <!--*ngFor="let product of products | slice:2" (click)="addItem(product)"-->
            <article class="card h-100" *ngIf="product.nombre !== 'Tarjeta Prepago' && product.nombre !== 'Recargar Tarjeta'">
              <div>
                <!--card-body-->
                <div style="border-radius: 25px;">
                  <img src="{{product.foto}}" alt="">
                </div>
              </div>
              <!--card-footer-->
              <div style="border-top: ridge 1px;">
                <label style="color: #637381">{{product.nombre}}</label>
                <br>
                <label style="color: #637381; font-weight: lighter;">${{product.precio_unitario}}</label>
  
              </div>
            </article>            
          </div>
        </div>
        
      </div>
      <div style="margin-bottom: 10px;"></div>
      <div class="col-md-5">
        <div class="alert alert-info" role="alert" *ngIf="productos.length === 0">
          No se han agregado productos.
        </div>
        <div class="card" *ngIf="productos.length > 0">
          <table class="table">
            <tr *ngFor="let items of productos">
              <td (click)="editItems(items)" data-toggle="modal" data-target="#exampleModal" style="font-weight: bold;">{{items.cantidad}}</td>
              <td (click)="editItems(items)" data-toggle="modal" data-target="#exampleModal" style="color: #454F5B; font-weight: 2px;">{{items.nombre}}</td>
              <td (click)="editItems(items)" data-toggle="modal" data-target="#exampleModal" style="text-align: center; color: #637381">${{items.total | number : '1.2-2'}}</td>
              <td>
                <i (click)="testEdit(items)" class="fas fa-minus-circle"></i>
              </td>
            </tr>
          </table>
        </div>
        <div style="margin-top: 150px;"></div>
        <div style="border-top: ridge 1px; border-bottom: ridge 1px; padding-top: 5px;">
          <label style="color: #637381; font-weight: lighter; margin-left: 25px;">Sub Total</label> <label style="color: #637381; margin-left: 5px;">({{items}} ítems)</label>
          <label style="margin-left: 240px; color: #212B36;">${{subtotal | number : '1.2-2'}}</label>
          <br>
        </div>
        <div style="text-align:right;">
          <a routerLink="/metodo-pago" class="btn btn-margin btn-block rounded-btn"
            style="font-weight: bold; color: white; margin-top: 30px; margin-bottom: 50px;">PAGAR<label style="padding-left: 300px;">${{subtotal | number : '1.2-2'}}</label></a>
        </div>
      </div>
    </div>
  
    <!-- Modal -->
    <div class="modal right fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-right" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="{{selectedProduct.foto}}" alt="">
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-8">
                    {{selectedProduct.nombre}}
                    <br>
                    Cantidad en inventario <br>
                    Precio de venta: <br>
                    Cantidad:
  
                  </div>
                  <div class="col-md-4">
                    <br>
                    10 <br>
                    ${{selectedProduct.precio_unitario}} <br>
                    1
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="hr-sect">
  
            </div>
            <div class="form-group">
              <input class="form-control" type="number" min="0" name="cantidad" id="cantidad" value="{{cantidad}}"
                [(ngModel)]="this.cantidad">
            </div>
          </div>
          <div class="modal-footer">
            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
  
            <button type="button" class="btn rounded-btn btn-block" data-dismiss="modal"
              (click)="accept()">ACTUALIZAR</button>
          </div>
        </div>
      </div>
    </div>

    <!--Modal para la camara-->
    <div class="modal fade text-center" id="Camera" tabindex="-1" role="dialog" aria-labelledby="Camera"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div style="text-align:left">
              <!--*ngIf="!qrResultString"-->
              <h4 style="color: #212B36" *ngIf="!qrResultString">Escaneé Water card</h4>
              <zxing-scanner *ngIf="!qrResultString" (scanSuccess)="onCodeResult($event)" data-dismiss="Camera"
                [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"></zxing-scanner>
            </div>
            <div *ngIf="qrResultString" >
              <div class="alert alert-info" role="alert">
                  La tarjeta ha sido escaneada exitosamente.
              </div>
              <button routerLink="/registrar-cliente" class="btn rounded-btn btn-block" (click)="createWaterCard()" data-dismiss="modal">Continuar</button>
              <br>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal para recargar Water card-->
    <div class="modal fade text-center" id="RecargarCard" tabindex="-1" role="dialog" aria-labelledby="RecargarCard"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div style="text-align:left">
              <!--*ngIf="!qrResultString"-->
              <h4 style="color: #212B36" *ngIf="!qrResultString">Escaneé Water card</h4>
              <zxing-scanner *ngIf="!qrResultString" (scanSuccess)="actualizarCard($event)" data-dismiss="RecargarCard"
                [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"></zxing-scanner>
            </div>
            <!---->
            <div *ngIf="qrResultString && !error" >
              <label for="creditos">Seleccione número de créditos a recargar</label>
              <!--
                 <div class="form-group">
                <input class="form-control" type="number" min="0" name="creditos" id="creditos" value="{{creditos}}"
                  [(ngModel)]="this.creditos">
              </div>
              -->
             
              <div class="form-group">
                <select class="form-control" name="creditos" id="creditos" [(ngModel)]="this.creditos">
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                  <option value="60">60</option>
                  <option value="70">70</option>
                  <option value="80">80</option>
                  <option value="90">90</option>
                  <option value="100">100</option>
                </select>
              </div>
              <label style="color: #5C6AC4">Resumen de transacción</label>
              <br>
              <div class="row">
                  <div class="col-md-6 borders">
                    <label>Créditos iniciales</label>
                    <label>Créditos agregados</label>
                    <label>Créditos Totales</label>
                  </div>
                  <div class="col-md-6 borders">
                    <label>{{saldo}}</label>
                    <br>
                    <label>{{creditos}}</label>
                    <br>
                    <label>{{+saldo + +creditos}}</label>
                  </div>
              </div>
              <!--
                <label>Créditos iniciales</label>
                <label style="margin-left: 150px;">{{saldo}}</label>
                <br>
                <label>Créditos agregados</label>
                <label style="margin-left: 150px;">{{creditos}}</label>
                <br>
                <label>Créditos Totales</label>
                <label style="margin-left: 150px;">{{+saldo + +creditos}}</label>
              -->
              <br>
            
              
              <button class="btn rounded-btn btn-block" (click)="logCreditos()" data-dismiss="modal">Recargar</button>
              <br>
            </div>
            <div *ngIf="error === true" >
              <div class="alert alert-danger" role="alert">
                  Ha ocurrido un error.
              </div>
              <button class="btn rounded-btn btn-block" data-dismiss="modal">Continuar</button>
              <br>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>


     <!-- Modal -->
     <div class="modal center fade" id="registrarCliente" tabindex="-1" role="dialog" aria-labelledby="registrarCliente"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body" *ngIf="!camaraActiva">
           <label style="padding-left: 170px;">¿Cliente nuevo?</label>
            <div class="row">
                <div class="col-md-6 text-right">
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="userSi" (change)="radioChangeHandler($event)"
                      name="registeredUser" value="Sí" mdbInput>
                    <label style="padding-right: 15px;" class="custom-control-label" for="userSi"></label>
                    Sí
                  </div>
                </div>
                <div class="col-md-6 text-left">
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" (change)="radioChangeHandler($event)" id="userNo"
                      name="registeredUser" value="No" checked mdbInput>
                    <label style="padding-right: 15px;" class="custom-control-label" for="userNo"></label>
                    No
                  </div>
                </div>
              </div>
            <div class="row" *ngIf="registeredUser === 'No'">
              <div class="col-md-12">
                <label>Seleccione cliente:</label>
                <div class="form-group">
                  <select class="form-control" name="customers" id="customers" [(ngModel)]="cliente">
                    <option *ngFor="let customer of customers" value="{{customer.id}}">{{customer.nombre}}</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="row" *ngIf="registeredUser === 'Sí'">
                <div class="col-md-12">
                    <input type="hidden" name="_id" #id="ngModel" [(ngModel)]="customer.id">
                    <div class=form-group>
                        <input class=form-control type="text" name="nombre" id="nombre" placeholder="Nombre Comercial" required
                            onkeypress="return /^[a-zA-Z \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)" [(ngModel)]="customer.nombre"
                            #nombre="ngModel">
                    </div>
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
        
                        <div *ngIf="nombre.errors.required">
                            El nombre es requerido.
                        </div>
                    </div>
                    <div class=form-group>
                        <input class=form-control type="text" name="contacto" id="contacto" placeholder="Contacto" required
                         onkeypress="return /^[a-zA-Z \u00C0-\u024F\u1E00-\u1EFF]*$/i.test(event.key)"
                            [(ngModel)]="customer.contacto" #contacto="ngModel">
                    </div>
                    <div *ngIf="contacto.invalid && (contacto.dirty || contacto.touched)" class="alert alert-danger">
                        <div *ngIf="contacto.errors.required">
                            El contacto es requerido.
                        </div>
                    </div>
                    <div class=form-group>
                        <input class=form-control type="text" name="zona" id="zona" placeholder="Zona" [(ngModel)]="customer.zona"
                            #zona="ngModel" required>
                    </div>
                    <div *ngIf="zona.invalid && (zona.dirty || zona.touched)" class="alert alert-danger">
                        <div *ngIf="zona.errors.required">
                            La zona es requerida.
                        </div>
                    </div>
                    <div class=form-group>
                        <input class=form-control type="text" name="telefono" maxlength="15" placeholder="Teléfono"
                             required
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            [(ngModel)]="customer.telefono" #telefono="ngModel">
                    </div>
                    <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
                        <div *ngIf="telefono.errors.required">
                            El teléfono es requerido.
                        </div>
                    </div>
                    <!--
                      <label for="status">Estatus</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="estatus" id="activo" value="true" checked
                            [(ngModel)]="customer.estatus" #estatus="ngModel" [value]="true">
                        <label class="form-check-label" for="exampleRadios1">
                            Activo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="estatus" id="inactivo" value="false"
                            [(ngModel)]="customer.estatus" #estatus="ngModel" [value]="false">
                        <label class="form-check-label" for="exampleRadios2">
                            Inactivo
                        </label>
                    </div>
                    -->
                    
                    <div class=space></div>
                    <div class="row">
                        <div class="col-6" *ngIf="edit==false">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
        
                        </div>
                        <div class="col-6" *ngIf="edit==true">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar cambios</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary btn-lg btn-block"
                                (click)="resetForm(formRegisterCustomer)">Vaciar campos</button>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <div class="modal-body" *ngIf="registered === true && camaraActiva === true">
            <div style="text-align:left">
              <!--*ngIf="!qrResultString"-->
              <h4 style="color: #212B36" *ngIf="!qrResultString">Escaneé Water card</h4>
              <zxing-scanner *ngIf="!qrResultString" (scanSuccess)="onCodeResult($event)" data-dismiss="Camera"
                [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"></zxing-scanner>
            </div>
            <div *ngIf="qrResultString" >
              <div class="alert alert-info" role="alert">
                  La tarjeta ha sido escaneada exitosamente.
              </div>
              <button class="btn rounded-btn btn-block" (click)="createWaterCard()" data-dismiss="modal">Continuar</button>
              <br>
            </div>
            <div class="modal-footer">
            </div>
          </div>
         
         <div class="modal-footer">
            <div *ngIf="!camaraActiva && registeredUser === 'No'">
                <a style="color: white;"class="btn rounded-btn btn-block" (click)="activaCamara()">Continuar</a>
            </div>
         </div>
       </div>
     </div>
   </div>
  </form>
</body>