.borders{
    border-color: rgb(211, 206, 206);
    border-right: 1px ridge;
}

.border-items{
    border-color: gray;
    border: 1px solid;
    margin-right: 45px;
    border-radius: 5px;
}

.rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    background: #166ecc;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    //padding-right: 370px;
    //padding-left: 50px;
}

.modal.right.fade .modal-dialog {
    right: -390px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 1;
}

.hr-sect {
	display: flex;
	flex-basis: 80%;
	align-items: center;
	color: #3674D9;
	margin: 8px 0px;
}
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: #3674D9;
	height: 2px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

/*img {
    display: block;
    max-width: 100%;
    max-height:100%;
    width: 100%;
    height: 150px;
    display: block;
    margin: auto;
}*/
img {
    position: relative;
    float: center;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

body {
    font-family: -apple-system, SanFranciscoText-Regular, sans-serif;
}

.borders {
    border-top: 1px ridge;
    border-bottom: 1px ridge;
}
