<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand">Puesto</a>
    <br>
    <a class="navbar-brand">Sucursal</a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-link">
                <a href="javascript:void(0)">
                    <!--{{day}}/{{month}}/{{year}}-->
                    <b class="caret"></b>
                </a>
            </li>
            <li class="nav-link">
                <a href="javascript:void(0)" (click)="addAssistant()" routerLink="/registro-corte" style="color: #5c6Ac4">
                    <!--Hora: {{hour}}-->
                    <b class="caret"></b>
                    Agregar ayudante
                </a>
            </li>
            <li class="nav-link">
                <a href="javascript:void(0)" style="color: #5c6Ac4">
                    <!--Hora: {{hour}}-->
                    <b class="caret"></b>
                    {{date | date:'dd-MM-yyyy h:mm a '}}
                </a>
            </li>

            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'Pending Task' | translate }} <span class="badge badge-info">6</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'In queue' | translate }} <span class="badge badge-info"> 13</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'Mail' | translate }} <span class="badge badge-info"> 45</span>
                    </a>
            <li class="dropdown-divider"></li>
            <a href="javascript:void(0)" class="dropdown-item">
                {{ 'View All' | translate }}
            </a>
    </div>
    </li>
    <li class="nav-link">

        <!--
                   <a href="javascript:void(0)">
                    <i class="fa fa-user"></i> {{user.first_name}}<b class="caret"></b>
                    </a> 
                -->
        <a href="javascript:void(0)">
            <img src="https://sistema.waterworld.com.mx/media/usuario.jpeg" alt="">
            {{user.first_name}}<b class="caret"></b>
        </a>
    </li>
    <li class="nav-link">
        <a [routerLink]="['/login']" (click)="onLoggedout()" style="margin-left: 15px;">
            <img src="https://sistema.waterworld.com.mx/media/logout.jpeg" width="45%" >
        </a>
        
        <!--
         <a [routerLink]="['/login']" (click)="onLoggedout()">
            <i class="fa fa-fw fa-power-off"></i>
        </a>   
        -->
        
    </li>
    </ul>
    </div>
</nav>