<form style="background-color: #F5F6F8;">
  <div class="container">
    <div style="padding-top: 15px;"></div>
    <div class="card">
      <div class="card-body">
        <h6 style="color: #212B36; font-weight: bold;">NUEVA CONSIGNA</h6>
        <div class="bs-stepper">
          <div class="bs-stepper-header" role="tablist">
            <!-- your steps here -->
            <div class="step" data-target="#logins-part">
              <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="enter-data">
                <span class="bs-stepper-circle">1</span>
                <span class="bs-stepper-label">DATOS DEL REPARTIDOR</span>
              </button>
            </div>
            <div class="line"></div>
          </div>
          <table class="table table-borderless">
            <tbody>
              <tr style="color: #637381; font-weight: bold;">
                <td><label>Nombres: </label> </td>
                <td><label>Ruta: </label></td>
                <td><label>Vehículo: </label></td>
                <td><label>Capacidad: </label></td>
              </tr>
            </tbody>
          </table>
          <!--<div class="bs-stepper-content">
            <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger"></div>
            <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo neque beatae fuga cupiditate ipsam similique ullam hic mollitia dolorem. Obcaecati, mollitia dolore. Neque aliquam possimus iure, dolor soluta quibusdam ab magni tempora ipsa, quam id magnam reprehenderit harum. Optio illo repudiandae unde nemo. Facere ab iste ea, atque esse laboriosam.</p>
            </div>
          </div>-->
        </div>
        <div class="bs-stepper">
          <div class="bs-stepper-header" role="tablist">
            <!-- your steps here -->
            <div class="step" data-target="#logins-part">
              <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="consignas">
                <span class="bs-stepper-circle">1</span>
                <span *ngIf="consigna" class="bs-stepper-label">LIQUIDAR CONSIGNA Nº {{consigna.id}}</span>
              </button>
            </div>
            <div class="line"></div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <label style="margin-left: 50px; color:  #454F5B; font-weight: bold;">SELECCIONE MÉTODO DE PAGO</label>
                <div class="row text-center">
                  <div class="col-md-6" style="margin-top: 20px;">
                    <button (click)="pagoEfectivo()" class="rounded-btn2 btn-block" >Efectivo</button>
                  </div>
                  <div class="col-md-6" style="margin-top: 20px;">
                    <button (click)="pagoVale()" class="rounded-btn2 btn-block" >Vale</button>
                  </div>
                  <div class="col-md-6" style="margin-top: 20px;">
                    <button class="rounded-btn2 btn-block" >Nota crédito</button>
                  </div>
                  <div class="col-md-6" style="margin-top: 20px;">
                    <button class="rounded-btn2 btn-block" >Devoluciones</button>
                  </div>
                </div>
                <div class="card" style="margin-top: 50px;" >
                  <table class="table">
                    <!--
                      <tr *ngFor="let items of productos" data-toggle="modal" data-target="#exampleModal"
                      >
                      <td style="font-weight: bold;">{{items.cantidad}}</td>
                      <td style="color: #454F5B; font-weight: 2px;">{{items.producto.nombre}}</td>
                      <td style="text-align: center; color: #637381">${{items.cantidad * items.producto.precio_unitario | number : '1.2-2'}}</td>
                    </tr>
                    -->
                    <tr *ngFor="let items of newProducts" data-toggle="modal" data-target="#exampleModal"
                      >
                      <td style="font-weight: bold;">${{items.cantidad2 * items.producto.precio_unitario | number : '1.2-2'}}</td>
                      <!--<td style="color: #454F5B; font-weight: 2px;">{{items.producto.nombre}}</td>-->
                      <!--<td *ngIf="efectivo" style="color: #637381; font-weight: 2px;">Se pagará en efectivo</td>-->
                      <td *ngIf="items.metodo_pago==='efectivo'" style="color: #637381; font-weight: 2px;">Se pagará en efectivo</td>
                      <!--<td *ngIf="vale" style="color: #637381; font-weight: 2px;">Se pagará con vale</td>-->
                      <td *ngIf="items.metodo_pago==='vale'" style="color: #637381; font-weight: 2px;">Se pagará con vale</td>
                      <td style="text-align: left; font-weight: bold;">{{items.cantidad2}} UND.</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-md-6">
                <!--La otra parte jeje-->
                <!--
                  <div class="alert alert-info" role="alert" *ngIf="productos.length === 0">
                  No se han agregado productos.
                </div>
                -->
                <label style="color: #454F5B; font-weight: bold;">PRODUCTOS A LIQUIDAR</label>
                <div class="card" >
                  <table class="table">
                    <tr *ngFor="let items of productos" data-toggle="modal" data-target="#exampleModal" (click)="logItem(items)">
                      <td style="font-weight: bold;">{{items.cantidad}}</td>
                      <td style="color: #454F5B; font-weight: 2px;">{{items.producto.nombre}}</td>
                      <td style="text-align: center; color: #637381">${{items.cantidad * items.producto.precio_unitario | number : '1.2-2'}}</td>
                    </tr>
                  </table>
                </div>
                <div style="margin-top: 150px;"></div>
                <div style="border-top: ridge 1px; border-bottom: ridge 1px; padding-top: 5px; text-align: right;">
                  <label style="color: #212B36;">${{subtotal | number : '1.2-2'}}</label>
                  <br>
                </div>
                <div style="text-align:right;">
                  <a class="btn btn-margin btn-block rounded-btn" (click)="efectuarPago()"
                    style="font-weight: bold; color: white; margin-top: 30px; margin-bottom: 50px;">LIQUIDAR CONSIGNA <label style="padding-left: 300px;">${{subtotal | number : '1.2-2'}}</label></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade text-center" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--<label style="color: #454F5B; font-weight: 15px;">Cobrar en efectivo</label>-->
        
        <label style="color: #454F5B; font-weight: 15px;">Cantidad de productos a cobrar</label>
        <br>
        <!--
          <label style="font-weight: bold;">${{subtotal | number : '1.2-2'}}</label>
        -->
        <br>
        <div class="form-group">
          <input type="number" class="form-control" min="0"
            [(ngModel)]="this.montoEfectivo" [ngModelOptions]="{standalone: true}">
        </div>

        <button type="button" data-dismiss="modal" (click)="test()"
          class="btn btn-block rounded-btn2">Continuar</button>
        <!--<label>Seleccione moneda a recibir:</label>
        <div class="row">
          <div class="col-md-6 text-right">
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="peso1" (change)="radioChangeHandler($event)"
                name="moneda" value="mxn" checked mdbInput>
              <label style="padding-right: 15px;" class="custom-control-label" for="peso1"></label>
              Peso (MXN)
            </div>
          </div>
          <div class="col-md-6 text-left">
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" (change)="radioChangeHandler($event)" id="dolar1"
                name="moneda" value="dolar" mdbInput>
              <label style="padding-right: 15px;" class="custom-control-label" for="dolar1"></label>
              Dólar
            </div>
          </div>
        </div>-->
        <!--
          <div style="border-bottom: 1px ridge;"></div>

        <label style="color: #5C6AC4">Ingrese monto recibido</label>
        <br>
        <div class="form-group">
          <input (keyup)="calcularEntrega()" type="number" class="form-control" min="0"
            [(ngModel)]="this.montoEfectivo" [ngModelOptions]="{standalone: true}">
        </div>
        <label style="color: #5C6AC4">Debe entregar al cliente</label>
        <br>

        <label style="font-weight: bold;"></label>

      </div>
      <div class="modal-footer">
        <button type="button" (click)="metodoPago()" data-dismiss="modal"
          class="btn btn-block rounded-btn2">Continuar</button>
      -->
      </div>

        
    </div>
  </div>
</div>
</form>