.rounded-btn2 {
    -webkit-border-radius: 50px;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    background: #37BDBB;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding-right: 50px;
    padding-left: 50px;
}

.rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
    background: #166ecc;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding-right: 100px;
    padding-left: 100px;
}