<form style="background-color: #F5F6F8;">
  <div class="container">
    <div style="padding-top: 15px;"></div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div *ngIf=" !ticket">
              <div class="form-group">
                <input class="form-control" type="text" name="" id=""
                  placeholder="Buscar por Fecha, Repartidor, Nº Consigna">
              </div>
            </div>
          </div>
          <div *ngIf=" !ticket" class="col-md-6 text-right" style="text-align: right;">
            <button routerLink="/crear-consigna" type="button" class="btn rounded-btn">
              NUEVA CONSIGNA
            </button>
          </div>
        </div>
        <div *ngIf=" !ticket" style="border-top: 1px ridge; border-left: 1px ridge; border-right: 1px ridge;">
          <h6 style="color: #5c6Ac4;">LISTADO DE CONSIGNAS</h6>
        </div>
        <div *ngIf="!ticket" class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Nº</th>
                <th scope="col">Fecha de creación</th>
                <th scope="col">Hora de creación</th>
                <th scope="col">Repartidor</th>
                <th scope="col">Ruta</th>
                <th scope="col">Importe consigna</th>
                <th scope="col">Estatus</th>
                <th style="font-weight: bold;" scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr align="center" *ngFor="let consigna of consignas">
                <td>{{consigna.id}}</td>
                <td>{{consigna.fecha_creacion.slice(0, 10)}}</td>
                <td>{{consigna.fecha_creacion.slice(10, 16)}}</td>
                <td>{{consigna.repartidor}}</td>
                <td>{{consigna.ruta}}</td>
                <td>{{consigna.importe}}</td>
                <td>{{consigna.estatus}}</td>
                <td style="color: blue;">
                  <button (click)="editConsigna(consigna)" class="none"><i class="fas fa-edit"></i></button>
                  <button (click)="imprimirTicket(consigna)" class="none"><i class="fa fa-print"></i></button>
                  <button type="button" (click)="liquidarConsigna(consigna)" class="none"><i class="far fa-handshake"></i></button>
                  <button class="none"><i class="fas fa-exchange-alt"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
       
         <div *ngIf="ticket === true" style="visibility: visible; height: 50%; width: 50%; margin-left: auto; margin-right: auto;"
              id="print-section">
              <div>
                <img src="../../../assets/images/waterticket.png" alt="Logotipo"
                  style="width: 150px; height: 100px; margin-left: 210px;">
                <p style="text-align: center;">
                  <label for="">RAMON ANTONIO ZAVALA ESTOLANO</label>
                  <br>
                  <label for="">RFC: ZAER-480910-JJ0</label>
                  <br>
                  <label for="">BOULEVARD FORJADORES S/N Col. ZACATAL</label>
                  <br>
                  <label for="">C.P 23400 TEL. 6241728292</label>
                  <br>
                  <label for="">SAN JOSE DE LOS CABOS, BCS</label>
                  <br>
                  <label for="">SUCURSAL: </label>
                  <br>
                  <label *ngIf="consigna" for="">Nº CONSIGNA: {{consigna.id}}</label>

                </p>
                <table *ngIf="consigna.estatus !== 'Liquidada'" align="center">
                  <thead>
                    <tr>
                      <th style="text-align: left;">CANTIDAD</th>
                      <th style="text-align: center;">DESCRIPCIÓN</th>
                      <th style="text-align: right;">PRECIO</th>
                      <th style="text-align: right;">IMPORTE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of productos">
                      <td style="text-align: center;">{{product.cantidad}}</td>
                      <td style="text-align: center;">{{product.producto.nombre}}</td>
                      <td style="text-align: center;">${{product.producto.precio_unitario}}</td>
                      <td style="text-align: center;">${{product.cantidad * product.producto.precio_unitario}}</td>
                    </tr>
                  </tbody>
                </table>
                <hr class="new2">
                <p style="margin-left: 300px;">
                  <label for="">SUBTOTAL: ${{subtotal}}</label>
                  <br>
                  <label for="">IVA: </label><label style="margin-left: 60px;"
                    for="">$0.00</label>
                  <br>
                  <label for="">TOTAL:</label><label
                    style="margin-left: 40px;">${{subtotal}}</label>
                </p>

                <div *ngIf="consigna.estatus === 'Liquidada'" style="text-align: center;">
                  <label>LIQUIDACIÓN DE CONSIGNA</label>
                  <table align="center">
                    <thead>
                      <tr>
                        <th style="text-align: left;">UNIDADES</th>
                        <th style="text-align: center;">PRODUCTO</th>
                        <th style="text-align: right;">PRECIO</th>
                        <th style="text-align: right;">MEDIO DE PAGO</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of productos">
                        <td style="text-align: center;">{{product.cantidad}}</td>
                        <td style="text-align: center;">{{product.producto.nombre}}</td>
                        <td style="text-align: center;">${{product.producto.precio_unitario}}</td>
                        <td style="text-align: center;">${{product.cantidad * product.producto.precio_unitario}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <hr style="margin-top: 30px;">
                <p style="text-align: center;">DATOS DEL REPARTIDOR</p>
                <hr>
                <!--<p style="text-align: center;">**************GRACIAS POR SU VISITA**************</p>-->
                <p style="margin-top: 15px; margin-left: 120px;">
                  <label style="font-weight: bold;" for="">NOMBRES: </label><label style="margin-left: 46px;">Hola</label><br>
                  <label style="margin-right: 10px; font-weight: bold;" for="">VEHICULO: </label><label style="margin-left: 5px;"
                    *ngFor="let varr of showAyudantes">..</label><br>
                    <label style="margin-right: 10px; font-weight: bold;">RUTA: </label><label style="margin-left: 73px;">{{consigna.ruta}}</label><br>
                </p>
                <p style="text-align: center;">
                  <label>*************************************</label><br>
                  <label>CONSERVE SU TICKET</label><br>
                  <label>*************************************</label><br>
                </p>
                <p style="margin-top: 40px; margin-left: 120px;">
                  <label for="">CAJERO: </label><label style="margin-left: 46px;">Hola</label><br>
                  <label style="margin-right: 10px;" for="">AYUDANTES: </label><label style="margin-left: 5px;" *ngFor="let varr of showAyudantes">{{varr.ayudantes.nombre}},</label><br>
                </p>
                <p style="text-align: center;">
                  <label for="">FECHA: </label><label style="margin-left: 10px;" *ngIf="consigna.fecha_creacion"
                  for="">{{consigna.fecha_creacion.slice(0, 10)}}</label>
                <label for="" style="margin-left: 30px;">HORA: </label><label *ngIf="dataService.horaActual" for=""
                  style="margin-left: 10px;">{{dataService.horaActual}}</label>
                </p>
              </div>
            </div>
            <div style="text-align: center;">
              <button *ngIf="ticket" (click)="clicked()" class="rounded-btn2" style="margin-left: 100px;;">IMPRIMIR CONSIGNA</button>
            </div>

      </div>
    </div>
  </div>
</form>