.borders {
    border-color: black;
    border-top: 2px ridge;
    border-bottom: 2px ridge;
    padding-top: 10px;
}
.div-color{
    background-color: #e9ecef;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2px;
}

.rounded-btn {
    //-webkit-border-radius: 50px;
    //border-radius: 25px;
    color: #fff;
    font-weight: bold;
    background: #37BDBB;
    border: 2px solid rgba(255, 255, 255, 0.8);
    //font-size: 18px;
    //line-height: 40px;
}

.none{
    background: none;
    border: 0;
}


.rounded-btn2 {
    -webkit-border-radius: 50px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
    background: #166ecc;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding-right: 100px;
    padding-left: 100px;
}

img {
    position: relative;
    float: center;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}