<form style="background-color: #F5F6F8;">
  <div class="container">
    <div style="padding-top: 15px;"></div>
    <div class="card">
      <div class="card-body">
        <h6 style="color: #212B36; font-weight: bold;">NUEVA CONSIGNA</h6>
        <div class="bs-stepper">
          <div class="bs-stepper-header" role="tablist">
            <!-- your steps here -->
            <div class="step" data-target="#logins-part">
              <button (click)="stepOneActivate()" type="button" class="step-trigger" role="tab"
                aria-controls="logins-part" id="enter-data">
                <span class="bs-stepper-circle">1</span>
                <span class="bs-stepper-label">Ingresa datos del repartidor</span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#information-part">
              <button type="button" (click)="stepTwoActivate()" class="step-trigger" role="tab"
                aria-controls="information-part" id="select-data">
                <span class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">Seleccionar y agregar productos</span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#information-part">
              <button type="button" (click)="stepThreeActivate()" class="step-trigger" role="tab"
                aria-controls="information-part" id="confirm">
                <span class="bs-stepper-circle">3</span>
                <span class="bs-stepper-label">Resumen</span>
              </button>
            </div>
          </div>
          <!--<div class="bs-stepper-content">
            <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger"></div>
            <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo neque beatae fuga cupiditate ipsam similique ullam hic mollitia dolorem. Obcaecati, mollitia dolore. Neque aliquam possimus iure, dolor soluta quibusdam ab magni tempora ipsa, quam id magnam reprehenderit harum. Optio illo repudiandae unde nemo. Facere ab iste ea, atque esse laboriosam.</p>
            </div>
          </div>-->
        </div>
        <div *ngIf="stepOne">
          <h5 style="color: #637381; font-weight: bold;">Seleccionar repartidor</h5>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mx-sm-3 mb-2">
                <select class="form-control" #selectList (change)="findSso(selectList.value)">
                  <option value="null" disabled>Seleccione</option>
                  <option *ngFor="let employee of employees" value="{{employee | json}}">{{ employee.nombre }} </option>
                </select>
              </div>
              <div class="row" style="margin-left: 15px; margin-right: 0px;">
                <div style="margin-top: 5px;" *ngFor="let assistant of assistants" class="col-md-5 col-sm-5 div-color div-space text-center">
                  {{assistant.nombre}} <i class="fas fa-fw fa-times-circle" (click)="deleteAssistant(assistant)"
                    style="margin-left: 20px;"></i>
                </div>
                <!--<div class="col-md-5 col-sm-5 div-color div-space text-center">
                              Marisol Sánchez <i class="fas fa-fw fa-times-circle" style="margin-left: 20px;"></i>
                            </div>-->

              </div>
              
            </div>
          </div>
          <h5 style="color: #637381; font-weight: bold; margin-top: 15px;">Datos del repartidor</h5>
          <hr>

          <div class="col-md-12">
            <table class="table table-borderless">
              <tbody>
                <tr *ngIf="dataService.ObjConsignaEdit === null">
                  <td><label style="color: #637381; font-weight: bold;">Nombres: </label> </td>
                  <td><label style="color: #637381; font-weight: bold;">Ruta: </label></td>
                  <td><label style="color: #637381; font-weight: bold;">Vehículo: </label></td>
                </tr>
                <tr *ngIf="dataService.ObjConsignaEdit">
                  <td><label style="color: #637381; font-weight: bold;">Nombres: Hola</label> </td>
                  <td><label style="color: #637381; font-weight: bold;">Ruta: </label></td>
                  <td><label style="color: #637381; font-weight: bold;">Vehículo: </label></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Step One-->
          <div style="text-align:left;">
            <button type="button" (click)="clickStepOneToTwo()" class="btn btn-margin rounded-btn" [disabled]="disabled==true"
              style="font-weight: bold; color: white; margin-top: 30px; margin-bottom: 50px;">CONTINUAR</button>
          </div>
        </div>
        <!--Step Two-->
        <div *ngIf="stepTwo">
          <div class="row">
            <div class="col-md-7 borders">
              <div class="row text-center" style="border-top: 1px ridge; background-color: #F5F6F8">
                <div class="col-md-3 card-colums text-center" style="margin-top: 25px; margin-right: 45px;"
                  *ngFor="let product of products " (click)="addItem(product)" >
                  <!--*ngFor="let product of products | slice:2" (click)="addItem(product)"-->
                  <article class="card h-100" *ngIf="product.nombre !== 'Tarjeta Prepago' && product.nombre !== 'Recargar Tarjeta'">
                    <div>
                      <!--card-body-->
                      <div style="border-radius: 25px;">
                        <img src="{{product.foto}}" alt="">
                      </div>
                    </div>
                    <!--card-footer-->
                    <div style="border-top: ridge 1px;">
                      <label style="color: #637381">{{product.nombre}}</label>
                      <br>
                      <label style="color: #637381; font-weight: lighter;">${{product.precio_unitario}}</label>
        
                    </div>
                  </article>            
                </div>
              </div>
              
            </div>
            <div style="margin-bottom: 10px;"></div>
            <div class="col-md-5">
              <div class="alert alert-info" role="alert" *ngIf="productos.length === 0">
                No se han agregado productos.
              </div>
              <div class="card" *ngIf="productos.length > 0">
                <table class="table">
                  <tr *ngFor="let items of productos" data-toggle="modal" data-target="#exampleModal"
                    (click)="editItems(items)">
                    <td style="font-weight: bold;">{{items.cantidad}}</td>
                    <td style="color: #454F5B; font-weight: 2px;">{{items.nombre}}</td>
                    <td style="text-align: center; color: #637381">${{items.total | number : '1.2-2'}}</td>
                  </tr>
                </table>
              </div>
              <div style="margin-top: 150px;"></div>
              <div style="border-top: ridge 1px; border-bottom: ridge 1px; padding-top: 5px;">
                <label style="color: #637381; font-weight: lighter; margin-left: 25px;">Sub Total</label> <label style="color: #637381; margin-left: 5px;">({{items}} ítems)</label>
                <label style="margin-left: 170px; color: #212B36;">${{subtotal | number : '1.2-2'}}</label>
                <br>
              </div>
              <div style="text-align:right;">
                <a (click)="clickStepTwoToThree()" class="btn btn-margin btn-block rounded-btn"
                  style="font-weight: bold; color: white; margin-top: 30px; margin-bottom: 50px;">Seleccionar y agregar<label style="padding-left: 300px;">${{subtotal | number : '1.2-2'}}</label></a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="stepThree">
          <!--
            <button (click)="clicked()">test</button>
          -->
          
          <div style="visibility: visible; height: 50%; width: 50%; margin-left: auto; margin-right: auto;" id="print-section">
            <div>
              <img
                src="../../../assets/images/waterticket.png"
                alt="Logotipo" style="width: 150px; height: 100px; margin-left: 210px;">
                <!--
                  <p class="text-center">Parzibyte's blog
                <br>New New York
                <br>23/08/2017 08:22 a.m.</p>
                -->
          
                <p style="text-align: center;">
                  <label for="">RAMON ANTONIO ZAVALA ESTOLANO</label>
                  <br>
                  <label for="">RFC: ZAER-480910-JJ0</label>
                  <br>
                  <label for="">BOULEVARD FORJADORES S/N Col. ZACATAL</label>
                  <br>
                  <label for="">C.P 23400 TEL. 6241728292</label>
                  <br>
                  <label for="">SAN JOSE DE LOS CABOS, BCS</label>
                  <br>
                  <label for="">SUCURSAL: </label>
                  <br>
                  <label for="">Nº CONSIGNA: </label>

                </p>
                <table  align="center">
                  <thead>
                    <tr>
                      <th style="text-align: left;">CANTIDAD</th>
                      <th style="text-align: center;">DESCRIPCIÓN</th>
                      <th style="text-align: right;">PRECIO</th>
                      <th style="text-align: right;">IMPORTE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of array">
                      <td style="text-align: center;">{{product.cantidad}}</td>
                      <td style="text-align: center;">{{product.descripcion}}</td>
                      <td style="text-align: center;">${{product.precio_unitario}}</td>
                      <td style="text-align: center;">${{product.cantidad * product.precio_unitario}}</td>
                    </tr>
                  </tbody>
                </table>
                <hr class="new2">
                <p style="margin-left: 300px;">
                  <label for="">SUBTOTAL: ${{subtotal}}</label>
                  <br>
                  <label for="">IVA: </label><label style="margin-left: 60px;"
                    for="">$0.00</label>
                  <br>
                  <label for="">TOTAL:</label><label
                    style="margin-left: 40px;">${{subtotal}}</label>
                </p>

                <hr style="margin-top: 30px;">
                <p style="text-align: center;">DATOS DEL REPARTIDOR</p>
                <hr>
                <!--<p style="text-align: center;">**************GRACIAS POR SU VISITA**************</p>-->
                <p style="margin-top: 15px; margin-left: 120px;">
                  <label style="font-weight: bold;" for="">NOMBRES: </label><label style="margin-left: 46px;">Hola</label><br>
                  <label style="margin-right: 10px; font-weight: bold;" for="">VEHICULO: </label><label style="margin-left: 5px;"
                    *ngFor="let varr of showAyudantes">..</label><br>
                    <label style="margin-right: 10px; font-weight: bold;">RUTA: </label><label style="margin-left: 73px;">{{ruta}}</label><br>
                </p>
                <p style="text-align: center;">
                  <label>*************************************</label><br>
                  <label>CONSERVE SU TICKET</label><br>
                  <label>*************************************</label><br>
                </p>
                <p style="margin-top: 40px; margin-left: 120px;">
                  <label for="">CAJERO: </label><label style="margin-left: 46px;">Hola</label><br>
                  <label style="margin-right: 10px;" for="">AYUDANTES: </label><label style="margin-left: 5px;" *ngFor="let varr of showAyudantes">{{varr.ayudantes.nombre}},</label><br>
                </p>
                <!--<label for="">FECHA: </label><label style="margin-left: 10px;" *ngIf="consigna.fecha_creacion"
                  for="">{{consigna.fecha_creacion.slice(0, 10)}}</label>-->
                <p style="text-align: center;">
                  
                <label for="" style="margin-left: 30px;">HORA: </label><label *ngIf="dataService.horaActual" for=""
                  style="margin-left: 10px;">{{dataService.horaActual}}</label>
                </p>
              </div>
          
          </div>
          <!--Button here-->
          <div style="text-align:left;">
            <button type="button" (click)="registerAndPrint()" class="btn btn-margin rounded-btn2"
              style="font-weight: bold; color: white; margin-top: 30px; margin-bottom: 50px;">REGISTRAR E IMPRIMIR CONSIGNA</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal right fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 text-center">
            <img src="{{selectedProduct.foto}}" alt="">
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-8">
                {{selectedProduct.nombre}}
                <br>
                Cantidad en inventario <br>
                Precio de venta: <br>
                Cantidad:

              </div>
              <div class="col-md-4">
                <br>
                10 <br>
                ${{selectedProduct.precio_unitario}} <br>
                1
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="hr-sect">

        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="0" name="cantidad" id="cantidad" value="{{cantidad}}"
            [(ngModel)]="this.cantidad">
        </div>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->

        <button type="button" class="btn rounded-btn btn-block" data-dismiss="modal"
          (click)="accept()">ACTUALIZAR</button>
      </div>
    </div>
  </div>
</div>
</form>