<div class="contenedor">
    <div class="login-page" [@routerTransition]>
        <div class="row justify-content-md-center">
            <div class="col-md-4 mt border">
                <form #formLogin="ngForm">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="text" ng-model="name" class="input-underline input-lg"
                                placeholder="{{ 'Usuario' | translate }}" [(ngModel)]="user.username"
                                [ngModelOptions]="{standalone: true}" #username="ngModel">
                        </div>

                        <div class="form-group">
                            <input type="password" class="input-underline input-lg" 
                                placeholder="{{ 'Password' | translate }}" [(ngModel)]="user.password"
                                [ngModelOptions]="{standalone: true}" #password="ngModel">

                        </div>
                        <div>

                            <button type="submit" class="btn btn-margin rounded-btn "
                                style="font-weight: bold; color: white; margin-top: 30px; margin-bottom: 50px;"
                                (click)="onLogin()">INGRESAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>