<body>
  <div class="row">
    <div class="col-md-4">
      <div class="borders">
        <div class="form-group">
          <input class="form-control" type="text" name="" id=""
            placeholder="Buscar por Nº Ticket, nombre empleado, fecha">
        </div>
      </div>
      <div *ngIf="ventas" style="overflow-y: scroll; height: 500px;">
        <div *ngFor="let venta of ventas.slice(1).slice(-5)" (click)="showSale(venta)" class="row" style="border-bottom: 2px ridge;">
          <div class="col-md-9">
            <label for="ticket" style="color: #212B36">Nº Ticket: {{venta.id}}</label><br>
            <label for="fecha" style="color: #454F5B">{{venta.fecha_venta}}</label>
            <label for="ayudantes" style="color: #637381;">
              <font size="2">Ayudantes: Marisol Sánchez, Adriana Buelvas</font>
            </label>
          </div>
          <div class="col-md-3 text-center">
            <label style="font-weight: bold; margin-top: 10px;">${{venta.total}}</label><br>
            <label for="cajero" style="color: #454F5B">
              <font size="2">Will Garcia</font>
            </label>
          </div>
        </div>
      </div>
      <!--
        <div class="row" style="border-bottom: 2px ridge; overflow-y: scroll;">
        <div class="col-md-9">
          <label for="ticket" style="color: #212B36">Nº Ticket: 00023</label>
          <label for="fecha" style="color: #454F5B">23 Enero 2019, 10:30 a.m</label>
          <label for="ayudantes" style="color: #637381;">
            <font size="2">Ayudantes: Marisol Sánchez, Adriana Buelvas</font>
          </label>
        </div>
        <div class="col-md-3 text-center">
          <label style="font-weight: bold; margin-top: 10px;">$87</label><br>
          <label for="cajero" style="color: #454F5B">
            <font size="2">Will Garcia</font>
          </label>
        </div>
      </div>
      -->

    </div>
    <div *ngIf="venta" class="col-md-8" style="border: 1px ridge; background-color: #F4F6F8">
      <div class="row">
        <div class="col-md-8">
          <!--
             <label *ngIf="!venta" for="ticket" style="color: #212B36">Nº Ticket: {{primerTicket.id}}</label><br>
          <label *ngIf="!venta" class="small" for="fecha" style="color: #454F5B">{{primerTicket.fecha_venta}}</label>
          -->

          <label *ngIf="venta" for="ticket" style="color: #212B36">Nº Ticket: {{venta.id}}</label><br>
          <label *ngIf="venta" class="small" for="fecha" style="color: #454F5B">{{venta.fecha_venta}}</label><br>
          <label for="ayudantes" style="color: black;">
            <font size="2">Ayudantes: Marisol Sánchez, Adriana Buelvas</font>
          </label>
          <div class="space"></div>
          <div class="row">
            <div class="col-md-5" style="margin-bottom: 5px;">
              <button class="custom-button2 btn btn-block">Imprimir</button>
            </div>
            <div class="col-md-5" style="margin-bottom: 5px;">
              <button class="custom-button btn btn-block"><label style="margin-left: 55px; font-weight: bold;">Enviar
                  por correo</label></button>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <label for="cajero">WILL GARCIA</label><br>
          <label for="sucursal">
            <font size="2">Sucursal: Zacatal</font>
          </label>
          <div style="padding-top: 55px;"></div>
          <div>
            <button class="btn btn-white btn-block"
              style="padding-bottom: 13px; font-weight: bold; border-radius: 15px;">Devolución</button>
          </div>

        </div>
      </div>
      <div class="card" style="margin-top: 10px;">
        <table class="table">
          <!--<tr style="color: #212B36; font-weight: bold;">
            <td style="text-align: left;">
              <img *ngIf="!venta" src="http://165.22.209.181{{primerTicket.detalle_venta[0].producto.foto}}" width="50px" height="50px" alt="">
              <label *ngIf="!venta">{{primerTicket.detalle_venta[0].producto.nombre}}</label>
              <img *ngIf="venta" src="http://165.22.209.181{{venta.detalle_venta[0].producto.foto}}" width="50px" height="50px" alt="">
              <label *ngIf="venta">{{venta.detalle_venta[0].producto.nombre}}</label>
            </td>
            <td *ngIf="!venta" style="text-align: right;">${{primerTicket.detalle_venta[0].producto.precio_unitario}} x </td>
            <td *ngIf="!venta" sty>{{primerTicket.detalle_venta[0].cantidad}}</td>
            <td *ngIf="!venta">${{primerTicket.total}}</td>
            <td *ngIf="venta" style="text-align: right;">${{venta.detalle_venta[0].producto.precio_unitario}} x </td>
            <td *ngIf="venta" sty>{{venta.detalle_venta[0].cantidad}}</td>
            <td *ngIf="venta">${{venta.total}}</td>
          </tr>-->
          <tr *ngFor="let producto of productos" style="color: #212B36; font-weight: bold;">
            <td style="text-align: left;">
              <!--<img src="http://165.22.209.181{{producto.producto.foto}}" width="50px" height="50px">-->
              
              <img src="https://sistema.waterworld.com.mx{{producto.producto.foto}}" width="50px" height="50px">
              <label>{{producto.producto.nombre}}</label>
            </td>
            <td style="text-align: right;">${{producto.producto.precio_unitario}} x </td>
            <td>{{producto.cantidad}} </td>
            <td>${{producto.cantidad * producto.producto.precio_unitario | number : '1.2-2'}} </td>
          </tr>
          <!--
            <tr>
            <td>Bolsa de hielo</td>
            <td style="text-align: right">$12.00 x </td>
            <td>1</td>
            <td>$12.00</td>
          </tr>
          -->

        </table>
      </div>
      <!--END DIVE TABLE-->
      <div class="row" style="background-color: white">
        <div class="col-md-7">
          <div class="space"></div>
          <label style="color: #212B36; font-weight: bold;">Métodos de pago</label><br>
          <label *ngIf="venta" style="color: #454F5B">Efectivo: ${{venta.cantidad_efectivo}}</label><br>
          <label *ngIf="venta" style="color: #454F5B">Water card: ${{venta.cantidad_watercard}}</label>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-7 text-left">
              <div class="space"></div>
              <label style="color: #454F5B"> Sub Total ({{items}} ítems)</label><br>
              <label style="color: #454F5B">Total venta</label>
            </div>
            <div class="col-md-5" style="text-align: left;">
              <div class="space"></div>
              <label *ngIf="venta" style="color: #454F5B">${{venta.total}}</label><br>
              <label *ngIf="venta" style="color: #212B36; font-weight: bold;">${{venta.total}}</label>
            </div>
          </div>
        </div>
      </div>
      <!--
       <div style="background-color: white">
        <div class="space"></div>
        <label style="color: #212B36; font-weight: bold;">Métodos de pago</label><br>
        <label style="color: #454F5B">Efectivo: $47.00</label><br>
        <label style="color: #454F5B">Water card: $40.00</label>
      </div> 
      -->
      <div class="space"></div>
    </div>
    <div *ngIf="!venta" class="col-md-8" style="border: 1px ridge; background-color: #F4F6F8">
      <div class="alert alert-info" role="alert">
        Dé click sobre un ticket.
      </div>
    </div>
  </div>
</body>