.borders {
    border-color: black;
    border-top: 2px ridge;
    border-bottom: 2px ridge;
    padding-top: 10px;
}

.small {
    line-height: 0.7;
  }

.space {
    padding-top: 30px;
}

.btn-white {
    background-color: white;
}

.btn-border {
    //border-color: black;
    border: 1px ridge;
}

.icon {
    background: url('./../../../assets/images/impresora.png');
    height: 64px;
    width: 64px;
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
    /* Other styles here */
}

.icon2 {
    background: url('./../../../assets/images/enviar.png');
    height: 64px;
    width: 64px;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    /* Other styles here */
}

.rounded-btn {
    //-webkit-border-radius: 50px;
    border-radius: 25px;
    color: #212B36;
    background: white;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding-right: 50px;
    padding-left: 50px;
}

.custom-button {
    background: url('./../../../assets/images/enviar.png') left center no-repeat;
    padding-left: 15px;
    background-color: white;
    border-radius: 15px;
}

.custom-button2 {
    background: url('./../../../assets/images/impresora.png') left center no-repeat;
    padding-left: 5px;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
}