.background {
    background-color: #F4F6F8;
    //border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.space {
    margin-top: 40px;
}
.big-space {
    margin-top: 170px;
}

.big-space2 {
    margin-top: 220px;
}

.div-pagar {
    color: #637381;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    //border-radius: 5px;
    //border: solid 1px;
}
.icon {
    background: url('./../../../assets/images/dinero.png');
    height: 64px;
    width: 64px;
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
    /* Other styles here */
}
.icon2 {
    background: url('./../../../assets/images/tarjeta.png');
    height: 64px;
    width: 64px;
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
    /* Other styles here */
}
.rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    background: #37BDBB;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding-right: 50px;
    padding-left: 50px;
}
.rounded-btn2 {
    font-weight: bold;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    background: #3674D9;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding-right: 50px;
    padding-left: 50px;
    
}
.no-border {
    border-style: none;
    -webkit-backface-visibility: hidden;
}

body {
    font-family: -apple-system, SanFranciscoText-Regular, sans-serif;
}

hr.new2 {
    border-top: 1px dashed black;
  }