<body>
  <i (click)="cancel()" class="fas fa-arrow-left"></i>

  <div class="row">
    <div class="col-md-6" style="height: 100%; width: 100%;">
      <div class="col-md-12 background" style="border-bottom: 1px solid;">
        <i class="fa fa-user"></i> {{user.first_name}}<b class="caret"></b>
      </div>
      <div class="row" style="margin-right: 0px; margin-left: 0px;">
        <div class="col-md-12 background">
          <!--<button (click)="prueba()">Hola</button>-->
          <label>Ayudantes: </label>
          <label style="margin-left: 5px;" *ngFor="let varr of showAyudantes">{{varr.ayudantes.nombre}}, </label>
        </div>
        <!--<div class="col-md-6 background">There</div>-->
        
      </div>
      <div class="space"></div>
      <div class="card" *ngIf="dataService.productos !== null && products.length > 0">
        <table class="table">
          <tr *ngFor="let product of products">
            <td>{{product.cantidad}}</td>
            <td>{{product.nombre}}</td>
            <td style="text-align: left">${{product.total | number : '1.2-2'}}</td>
          </tr>
        </table>
      </div>
      <div class="big-space"></div>
      <div style="border-top: ridge 1px; border-bottom: ridge 1px; margin-top: 20px;">
        <label>Sub Total</label>
        <label class="text-right" style="margin-left: 320px;">${{subtotal | number : '1.2-2'}}</label>
      </div>
    </div>
    <div class="col-md-6" style="background-color: #F9FAFB; border: ridge 1px;">
      <div class="div-pagar"
        style="background-color: #fff; border: ridge 1px; padding-top: 30px; padding-bottom: 30px;">
        <!--style="border: ridge 1px;"-->
        <div class="row">
          <div class="col-md-6 text-center">
            <label>Total a pagar</label>
          </div>
          <div class="col-md-6 text-center" style="color: black; font-weight: bold;">
            ${{subtotal | number : '1.2-2'}}
            <i class="fas fa-pen" (mouseover)="changeText=true" (mouseout)="changeText=false" (click)="cancel()"></i>  
            <br>
            <span *ngIf="changeText" (click)="cancel()">Haga click para editar la venta.</span>         
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div class="row">
        <div class="col-md-6">
          <button [disabled]="disableEfectivo==true" type="button" class="btn rounded-btn btn-block" data-toggle="modal"
            data-target="#exampleModalCenter">
            <i class="icon">
              <label
                style="display: block; margin-left: 70px; margin-top: 15px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Efectivo</label>
            </i>
          </button>
        </div>
        <div class="col-md-6">
          <button [disabled]="disableWaterCard==true" class="btn rounded-btn btn-block" data-toggle="modal"
            data-target="#Camera">
            <i class="icon2">
              <label
                style="display: block; margin-left: 55px; margin-top: 15px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Water
                Card</label>
            </i>
          </button>
        </div>
      </div>
      <!--
        <div class="col-md-6">
          <button type="button" class="btn rounded-btn btn-block" data-toggle="modal" data-target="#Camera">
            <i class="icon">
              <label
                style="display: block; margin-left: 70px; margin-top: 15px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Efectivo</label>
            </i>
          </button>
        </div>
      -->

      <div class="card" *ngIf="pagos==true && efectivo==true || pagos==true && tarjeta==true" style="margin-top: 10px;">
        <table class="table">
          <tr *ngIf="efectivo==true && montoEfectivo <= subtotal">
            <td>Efectivo ${{montoEfectivo | number : '1.2-2'}}</td>
            <td style="text-align: right"><i (click)="devolucionEfectivo()" class="fas fa-minus-circle"></i></td>
          </tr>
          <tr *ngIf="montoEfectivo > subtotal">
            <td>Efectivo ${{subtotal | number : '1.2-2'}}</td>
            <td style="text-align: right"><i (click)="devolucionEfectivo()" class="fas fa-minus-circle"></i></td>
          </tr>
          <!--
            <tr *ngIf="validacionDolar === true">
            <td>Efectivo ${{cantidad_efectivo | number : '1.2-2'}}</td>
            <td style="text-align: right"><i (click)="devolucionEfectivo()" class="fas fa-minus-circle"></i></td>
          </tr>
          -->

          <tr *ngIf="tarjeta==true && pagos == true">
            <td>Water Card ${{montoWaterCard | number : '1.2-2'}}</td>
            <td style="text-align: right"><i (click)="devolucionWaterCard()" class="fas fa-minus-circle"></i></td>
          </tr>
        </table>
      </div>
      <div style="margin-top: 20px;">
        <table>
          <td style="color: #637381;">
            <tr>
              <label for="">Total de la venta: </label>
            </tr>
            <tr>
              <label for="">Pago en efectivo: </label>
            </tr>
            <tr>
              <label for="">Importe recibido: </label>
            </tr>
            <tr>
              <label for="">Cambio: </label>
            </tr>
          </td>
          <td>
            <tr>
              <label for="">${{subtotal | number : '1.2-2'}}</label>
            </tr>
            <tr>
              <label for="">${{montoEfectivo | number : '1.2-2'}}</label>
            </tr>
            <tr>
              <label for="">${{montoEfectivo | number : '1.2-2'}}</label>
            </tr>
            <tr>
              <label style="color: #5c6Ac4;" for="">${{mostrarTotal | number : '1.2-2'}}</label>
            </tr>
          </td>
        </table>
      </div>
      <div class="big-space2"></div>
      <div>
        <button (click)="onRegisterSale()" class="btn btn-block rounded-btn2">COMPLETAR</button>
      </div>
    </div>



    <!-- Modal -->
    <div class="modal fade text-center" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label style="color: #454F5B; font-weight: 15px;">Cobrar en efectivo</label>
            <br>
            <label style="font-weight: bold;">${{subtotal | number : '1.2-2'}}</label>
            <br>

            <!--
              <div class="form-group">
              <input type="radio" name="moneda" id="mxn" value="mxn" (change)="radioChangeHandler($event)" checked>Peso
              (MXN)

              <input type="radio" name="moneda" value="dolar" (change)="radioChangeHandler($event)" id="dolar">Dólar
            </div>
            -->

            <label>Seleccione moneda a recibir:</label>
            <div class="row">
              <div class="col-md-6 text-right">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="peso1" (change)="radioChangeHandler($event)"
                    name="moneda" value="mxn" checked mdbInput>
                  <label style="padding-right: 15px;" class="custom-control-label" for="peso1"></label>
                  Peso (MXN)
                </div>
              </div>
              <div class="col-md-6 text-left">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" (change)="radioChangeHandler($event)" id="dolar1"
                    name="moneda" value="dolar" mdbInput>
                  <label style="padding-right: 15px;" class="custom-control-label" for="dolar1"></label>
                  Dólar
                </div>
              </div>
            </div>
            <div style="border-bottom: 1px ridge;"></div>

            <label style="color: #5C6AC4">Ingrese monto recibido</label>
            <br>
            <div class="form-group">
              <input (keyup)="calcularEntrega()" type="number" class="form-control" min="0"
                [(ngModel)]="this.montoEfectivo">
            </div>
            <label style="color: #5C6AC4">Debe entregar al cliente</label>
            <br>
            <!--<label style="font-weight: bold;">${{(subtotal-montoEfectivo)* -1}}</label>-->

            <label style="font-weight: bold; font-size: 50px;">${{mostrarTotal | number : '1.2-2'}}</label>

          </div>
          <div class="modal-footer">
            <button type="button" (click)="metodoPago()" data-dismiss="modal"
              class="btn btn-block rounded-btn2">Continuar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Water Card -->
    <div class="modal fade text-center" id="WaterCard" tabindex="-1" role="dialog" aria-labelledby="WaterCard"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label style="color: #5C6AC4">Ingrese número de créditos a cobrar</label>
            <br>
            <div class="form-group">
              <input type="number" class="form-control" min="0" [(ngModel)]="this.montoWaterCard">
            </div>
            <button [disabled]="disabledPagoModal==true" type="button" (click)="metodoWaterCard()" data-dismiss="modal"
              class="btn btn-block rounded-btn2">Cobrar</button>
          </div>
          <div class="modal-footer">
            <label style="color: #5C6AC4; margin-right: 150px;">Resumen de transacción</label>
          </div>
        </div>
      </div>
    </div>

    <!--Modal para la camara-->
    <div class="modal fade text-center" id="Camera" tabindex="-1" role="dialog" aria-labelledby="Camera"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div style="text-align:left">
              <!--*ngIf="!qrResultString"-->
              <h4 style="color: #212B36" *ngIf="!qrResultString">Escaneé código Water Card</h4>
              <zxing-scanner *ngIf="!qrResultString" (scanSuccess)="onCodeResult($event)"
                [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"></zxing-scanner>
            </div>
            <div *ngIf="qrResultString">
              <label style="color: #5C6AC4">Ingrese número de créditos a cobrar</label>
              <br>
              <div class="form-group">
                <input type="number" (keyup)="calcularCreditos()" class="form-control" min="0"
                  [(ngModel)]="this.montoWaterCard">
              </div>
              <button [disabled]="disabledPagoModal==true" type="button" (click)="metodoWaterCard()"
                data-dismiss="modal" class="btn btn-block rounded-btn2">Cobrar</button>
              <label style="color: #5C6AC4; margin-right: 150px; text-align: left">Resumen de transacción</label><br>
              <label *ngIf="waterCard" style="text-align: left;">Créditos iniciales {{waterCard.saldo}}</label><br>
              <label>Créditos cobrados {{montoWaterCard}}</label><br>
              <label *ngIf="waterCard">Créditos Totales {{waterCard.saldo - montoWaterCard}}</label>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal para Código QR-->
    <div class="modal fade text-center" id="QrCode" tabindex="-1" role="dialog" aria-labelledby="QrCode"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!--The content below is only a placeholder and can be replaced.-->
            <div style="text-align:center">
              <input type="text" placeholder="Enter name to generate QR Code" [(ngModel)]="qrcodename"><br>
              <button (click)="generateQRCode()">Generate QR Code</button>
              <ngx-qrcode *ngIf="display" id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value]="value">
              </ngx-qrcode><br>
              <a [href]="href" *ngIf="display" (click)="downloadImage()" download>Download Image</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<div style="visibility: hidden; height: 100%;" id="print-section">
    <div>
      <img
        src="../../../assets/images/waterticket.png"
        alt="Logotipo" style="width: 150px; height: 100px; margin-left: 210px;">
        <!--
          <p class="text-center">Parzibyte's blog
        <br>New New York
        <br>23/08/2017 08:22 a.m.</p>
        -->

        <p style="text-align: center;">
          <label for="">RAMON ANTONIO ZAVALA ESTOLANO</label>
          <br>
          <label for="">RFC: ZAER-480910-JJ0</label>
          <br>
          <label for="">BOULEVARD FORJADORES S/N Col. ZACATAL</label>
          <br>
          <label for="">C.P 23400 TEL. 6241728292</label>
          <br>
          <label for="">SAN JOSE DE LOS CABOS, BCS</label>
          <br>
          <label for="">SUCURSAL: </label>
          <br>
          <label *ngIf="ventaRealizada" for="">ORDEN DE VENTA Nº: {{ventaRealizada.id}}</label>

        </p>
        <table align="center">
        <thead>
          <tr>
            <th style="text-align: left;">CANTIDAD</th>
            <th style="text-align: center;">DESCRIPCIÓN</th>
            <th style="text-align: right;">PRECIO</th>
            <th style="text-align: right;">IMPORTE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of reporteProductos">
            <td style="text-align: center;">{{product.cantidad}}</td>
            <td style="text-align: center;">{{product.nombre}}</td>
            <td style="text-align: center;">${{product.total}}</td>
            <td style="text-align: center;">${{product.cantidad * product.precio_unitario}}</td>
          </tr>
        </tbody>
      </table>
      <hr class="new2">
      <p style="margin-left: 300px;">
        <label *ngIf="ventaRealizada" for="">SUBTOTAL: ${{ventaRealizada.total}}</label>
        <br>
        <label *ngIf="ventaRealizada" for="">IVA: </label><label style="margin-left: 60px;" for="">$0.00</label>
        <br>
        <label *ngIf="ventaRealizada" for="">TOTAL:</label><label *ngIf="ventaRealizada" style="margin-left: 40px;">${{ventaRealizada.total}}</label>
      </p>
      <!--
         <p style="text-align: left;">
        <label *ngIf="ventaRealizada" for="">EFECTIVO: {{</label>
      </p>
      -->
      
      <label style="margin-left: 90px;">EFECTIVO:</label><label *ngIf="ventaRealizada" style="margin-left: 220px;">${{ventaRealizada.cantidad_efectivo}}</label><br>
      <label *ngIf="tarjeta === false" style="margin-left: 90px;">CAMBIO:</label><label *ngIf="ventaRealizada && ventaRealizada.cantidad_efectivo > 0" style="margin-left: 235px;">${{ventaRealizada.cantidad_efectivo-ventaRealizada.total}}</label>
      <!--<h6 style="text-align: left;">EFECTIVO: </h6>
      <h6 *ngIf="ventaRealizada" style="text-align: right;">{{ventaRealizada.cantidad_efectivo}}</h6>
      <h6 style="text-align: left;">CAMBIO: </h6>
      <h6 *ngIf="ventaRealizada" style="text-align: right;">{{ventaRealizada.cantidad_efectivo-ventaRealizada.total}}</h6>-->
      
      <br>
      <p style="text-align: center;">
        <label *ngIf="showWaterDetails === true"> EN ESTA COMPRA SE REALIZÓ UN PAGO CON WATER CARD</label><br>
        <label *ngIf="showWaterDetails === true" style="margin-top: 10px;" for="">Nº TARJETA: {{qrResultString}}</label><br>
        <label *ngIf="waterCard" >CLIENTE: {{waterCard.cliente.nombre}}</label>
      </p>
      <p style="margin-left: 90px;" *ngIf="showWaterDetails">
        <label for="" *ngIf="waterCard">CRÉDITOS INICIALES: {{waterCard.saldo}}</label> <br>
        <label for="" *ngIf="montoWaterCard">CRÉDITOS GASTADOS: {{montoWaterCard / 10}} </label><br>
        <label for="" *ngIf="waterCard">CREDITOS ACTUALES: {{waterCard.saldo - (montoWaterCard / 10)}}</label>
      </p>
      <!--
        <br>
      <label style="text-align: left;">CANT</label>
      <label style="margin-left: 45%;">PRODUCTO</label>
      <label style="margin-left: 40%;">$$</label>
      <br>
      <label *ngFor="let product of reporteProductos" style="text-align: left;">{{product.nombre}}</label><br>
      <label style="margin-left: 47%">hola</label>
      <label style="margin-left: 43%">${{total}}</label>
      <br>
      -->
      
      <p style="text-align: center;">**************GRACIAS POR SU VISITA**************</p>
      <p style="margin-top: 40px; margin-left: 120px;">
        <label for="">CAJERO: </label><label style="margin-left: 46px;">Hola</label><br>
        <label style="margin-right: 10px;" for="">AYUDANTES: </label><label style="margin-left: 5px;" *ngFor="let varr of showAyudantes">{{varr.ayudantes.nombre}},</label><br>
        <label for="">FECHA: </label><label style="margin-left: 50px;" *ngIf="fecha" for="">{{fecha.fecha_corte.slice(0, 10)}}</label>
        <label for="" style="margin-left: 30px;">HORA: </label><label *ngIf="dataService.horaActual" for="" style="margin-left: 10px;">{{dataService.horaActual}}</label>
      </p>
    </div>
  
  </div>


