<nav *ngIf="dataService.sidebar === false" class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="toggle-button2" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fas fa-bars-{{collapsed?'right':'left'}}"></i>&nbsp;
        <i class="fas fa-bars"></i>
    </div>
    <!---->
    <div class="space"></div>
    <div class="list-group">
        <!--<a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']">

                <i class="icon8"><span style="margin-left: 65px; display: block; margin-top: 15px;">{{ 'Cobrar' | translate }}</span></i>
            </a>-->
        <a style="border-top: 0.5px solid; border-bottom: 0.5px solid" (click)="toggleCollapsed()" routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-th-list"></i>&nbsp;
            <span style="margin-left: 13px;">{{ 'Inicio' | translate }}</span>
        </a>
        <!--
           <a [routerLink]="['/gestion-cobros']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-dollar-sign" style="margin-left: 5px;"></i>&nbsp;
            <span style="margin-left: 15px;">{{ 'Cobrar' | translate }}</span>
        </a> 
        -->
        
        <a [routerLink]="['/gestion-cobros']" (click)="toggleCollapsed()" [routerLinkActive]="['router-link-active']">

            <i class="icon"><span style="margin-left: 65px; display: block; margin-top: 15px;">{{ 'Cobrar' | translate }}</span></i>
        </a>
        <a style="border-top: 0.5px solid;" (click)="toggleCollapsed()" [routerLink]="['/administrar-consignas']" [routerLinkActive]="['router-link-active']">

            <i class="icon3"><span style="margin-left: 65px; display: block; margin-top: 15px;">{{ 'Repartos/Consignas' | translate }}</span></i>
        </a>
        <!--
           <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-truck"></i>&nbsp;
            <span style="margin-left: 10px;">{{ 'Repartos/Consignas' | translate }}</span>
        </a> 
        
        -->
        <a style="border-top: 0.5px solid;" (click)="toggleCollapsed()" routerLink="/historial-tickets" [routerLinkActive]="['router-link-active']">

            <i class="icon7"><span style="margin-left: 65px; display: block; margin-top: 15px;">{{ 'Historial de Tickets' | translate }}</span></i>
        </a>
        <a style="border-top: 0.5px solid;" href="#" [routerLinkActive]="['router-link-active']">

            <i class="icon4"><span style="margin-left: 65px; display: block; margin-top: 15px;">{{ 'Corte del día' | translate }}</span></i>
        </a>    
        <!--
          <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Corte del día' | translate }}</span>
        </a>  
        -->
        <a style="border-top: 0.5px solid; border-bottom: 0.5px solid" href="#" [routerLinkActive]="['router-link-active']">
            <i class="icon5"><span style="margin-left: 65px; display: block; margin-top: 15px;">{{ 'Entrada de mercancía' | translate }}</span></i>
        </a> 
        <!--
             <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-dolly-flatbed"></i>&nbsp;
            <span style="margin-left: 10px;">{{ 'Entrada de mercancía' | translate }}</span>
        </a>
        -->
       
        <!--
           <a [routerLink]="['/gestion-cobros']" [routerLinkActive]="['router-link-active']">

            <i class="icon2"><span style="margin-left: 65px;">{{ 'Administración' | translate }}</span></i>
        </a> 
        -->
        
        <div class="nested-menu" style="color: #999; border-bottom: 0.5px solid;">
            <a (click)="addExpandClass('pages')">
                <i class="icon2"><span style="margin-left: 65px; display: block; margin-top: 15px;">{{ 'Administración' | translate }}
                    <i *ngIf="!showMenu || showMenu === '0'" class="fas fa-angle-down" style="margin-left: 150px;"></i>
                    <i *ngIf="showMenu === 'pages'" class="fas fa-angle-up" style="margin-left: 150px;"></i></span></i>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li style="margin-left: 9px;">
                        <a href="javascript:void(0)" [routerLink]="['/historial-tickets']" (click)="toggleCollapsed()">
                            <span>{{ 'Reporte de ventas' | translate }}</span>
                        </a>
                    </li>
                    <li style="margin-left: 9px;">
                        <a href="javascript:void(0)">
                            <span>{{ 'Reporte de Corte de caja' | translate }}</span>
                        </a>
                    </li>
                    <li style="margin-left: 9px;">
                        <a href="javascript:void(0)">
                            <span>{{ 'Reporte de ventas acumuladas' | translate }}</span>
                        </a>
                    </li>
                    <li style="margin-left: 9px;">
                        <a href="javascript:void(0)">
                            <span>{{ 'Reporte de consignación' | translate }}</span>
                        </a>
                    </li>
                    <li style="margin-left: 9px;">
                        <a href="javascript:void(0)">
                            <span>{{ 'Reporte de empleados' | translate }}</span>
                        </a>
                    </li>
                    <li style="margin-left: 9px;">
                        <a href="javascript:void(0)">
                            <span>{{ 'Reporte de Garrafones dañados' | translate }}</span>
                        </a>
                    </li>
                    <li style="margin-left: 9px;">
                        <a href="javascript:void(0)">
                            <span>{{ 'Reporte de movimientos de tarjetas' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div style="text-align: left;">
                <a class="btn btn-margin rounded-btn" style="font-weight: bold; color: gray; margin-top: 30px; margin-bottom: 50px;" [routerLink]="['/login']" (click)="onLoggedout()">{{ 'Cerrar sesión' | translate }}</a> 
            </div>               
        <!--<a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts' | translate }}</span>
        </a>-->
        <!--<a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Tables' | translate }}</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Forms' | translate }}</span>
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Bootstrap Element' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>{{ 'Component' | translate }}</span>
        </a>-->
        
        <!--<div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>-->
        
        <!--
          <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;
            <span>{{ 'Blank Page' | translate }}</span>
        </a>  
        -->
        
  

    </div>
    <!--
       <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div> 
    -->
</nav>
