.space{
    margin-top: 10px;
}

.div-color{
    background-color: #e9ecef;
    border-radius: 15px;
}
.div-space{
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    margin-right: 15px;
}

.rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
    background: #166ecc;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding-right: 100px;
    padding-left: 100px;
}