
<!--<app-header></app-header>-->
<div class="container" style="margin-top: 0px;">
  <div class="row justify-content-center">
    <div class="col-md-2"></div>
    <div class="col-md-6" style="margin-left: 0px">
      <h5 class="text-center" style="color: #454F5B; margin-bottom: 20px; font-weight: bold;">Información del último corte</h5>
      <div *ngIf="dataApiService.addAssistant == false" class="card">
        <table class="table">
          <tr *ngFor="let inventoryitem of inventoryItems">
            <td style="color: #637381; font-weight: bold;">{{inventoryitem.producto.nombre}}</td>
            <td style="text-align: left; color: #637381">{{inventoryitem.stock}}</td>
          </tr>
        </table>
      </div>
      <div class="space"></div>
      <div>
        <h5 style="color: #454F5B; font-weight: bold;">Agregar ayudante</h5>
        <!--<div class="form-group">
          <select class="form-control" name="" id="">
            <option *ngFor="let employee of employees" (click)="addAssistant(employee)" value="{{employee.id}}">{{employee.nombre}}</option>
          </select>
        </div>-->


        <div class="form-group">
          <select class="form-control" #selectList (change)="findSso(selectList.value)">
            <option value="null" disabled>Seleccione</option>
            <option *ngFor="let employee of employees" value="{{employee | json}}">{{ employee.nombre }} </option>
          </select>
        </div>



        <div class="row" style="margin-left: 0px; margin-right: 0px;">
          <div *ngFor="let assistant of assistants" class="col-md-5 col-sm-5 div-color div-space text-center">
            {{assistant.nombre}} <i class="fas fa-fw fa-times-circle" (click)="deleteAssistant(assistant)"
              style="margin-left: 20px;"></i>
          </div>
          <!--<div class="col-md-5 col-sm-5 div-color div-space text-center">
              Marisol Sánchez <i class="fas fa-fw fa-times-circle" style="margin-left: 20px;"></i>
            </div>-->

        </div>
        <div style="text-align:center;">

          <button type="button" (click)="postAssistants()" class="btn btn-margin rounded-btn" [disabled]="disabled==true"
            routerLink="/gestion-cobros"
            style="font-weight: bold; color: white; margin-top: 30px; margin-bottom: 50px;">CONTINUAR</button>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>

</div>